
<%@ page import="org.kaliy.hddcrawler.domain.HDD" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'HDD.label', default: 'HDD')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-HDD" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="list-HDD" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
				<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
			<thead>
					<tr>
					
						<g:sortableColumn property="brand" title="${message(code: 'HDD.brand.label', default: 'Brand')}" />
					
						<g:sortableColumn property="productionCode" title="${message(code: 'HDD.productionCode.label', default: 'Production Code')}" />
					
						<g:sortableColumn property="weight" title="${message(code: 'HDD.weight.label', default: 'Weight')}" />
					
						<g:sortableColumn property="height" title="${message(code: 'HDD.height.label', default: 'Height')}" />
					
						<g:sortableColumn property="width" title="${message(code: 'HDD.width.label', default: 'Width')}" />
					
						<g:sortableColumn property="depth" title="${message(code: 'HDD.depth.label', default: 'Depth')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${HDDInstanceList}" status="i" var="HDDInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${HDDInstance.id}">${fieldValue(bean: HDDInstance, field: "brand")}</g:link></td>
					
						<td>${fieldValue(bean: HDDInstance, field: "productionCode")}</td>
					
						<td>${fieldValue(bean: HDDInstance, field: "weight")}</td>
					
						<td>${fieldValue(bean: HDDInstance, field: "height")}</td>
					
						<td>${fieldValue(bean: HDDInstance, field: "width")}</td>
					
						<td>${fieldValue(bean: HDDInstance, field: "depth")}</td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${HDDInstanceCount ?: 0}" />
			</div>
		</div>
	</body>
</html>
